<div class="bg-white d-flex align-items-center shadow position-fixed w-100" style=" height: 70px; z-index: 20">
  <div class="px-5">
    <%= link_to '/' do %>
      <%= image_tag 'logo-pizza-de-buch.jpg', alt: 'pizza', style: 'height: 60px' %>
    <% end %>
  </div>
</div>
<div style=" height: 70px"></div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="bg-dark">
  <div class="d-flex align-items-center bg-white">
    <div class="container">
      <button class= "m-2" id="pizza" data-controller='list' data-action='list#display'>Pizza</button>
      <button class= "m-2" id= 'pasta' data-controller='list' data-action='list#display'>Pâte</button>
      <button class= "m-2" id= 'dessert' data-controller='list' data-action='list#display'>Dessert</button>
    </div>
  </div>
  <div class="container display">
    <div id="pizza-target" class='active'>
      <div class="row py-5">
        <% @pizzas.each do |pizza|%>
          <div class="col-12 col-md-6 col-lg-4 p-0 position-relative overflow-hidden">
            <div class="trapezoid"><p class='mt-2 text-white'><%= pizza.price %>€</p></div>
            <div class="p-1 ">
              <div class="card">
                <%= link_to "", meal_path(pizza), class: "link_invisible" %>
                <%= cl_image_tag pizza.photo, class: 'card-img-top w-100 rogner', height: '200px' %>
                <div class="card-body min-height-128px py-3">
                  <h5 class="font-size-12px-lg-16px text-grey "><%= pizza.name %></h5>
                  <p class="font-size-12px-lg-16px text-grey "><%= pizza.ingredient %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="pasta-target" class='d-none'>
      <div class="row py-5">
        <% @pastas.each do |pasta|%>
          <div class="col-12 col-md-6 col-lg-4 p-0 position-relative overflow-hidden">
            <div class="trapezoid"><p class='mt-2 text-white'><%= pasta.price %>€</p></div>
            <div class="p-1 ">
              <div class="card">
                <%= link_to "", meal_path(pasta), class: "link_invisible" %>
                <%= cl_image_tag pasta.photo, class: 'card-img-top rogner', height: '200px' %>
                <div class="card-body min-height-128px py-3">
                  <h5 class="font-size-12px-lg-16px text-grey "><%= pasta.name %></h5>
                  <p class="font-size-12px-lg-16px text-grey "><%= pasta.ingredient %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="dessert-target" class='d-none'>
      <div class="row py-5">
        <% @desserts.each do |dessert|%>
          <div class="col-12 col-md-6 col-lg-4 p-0 position-relative overflow-hidden">
            <div class="trapezoid"><p class='mt-2 text-white'><%= dessert.price %>€</p></div>
            <div class="p-1 ">
              <div class="card">
                <%= link_to "", meal_path(dessert), class: "link_invisible" %>
                <%= cl_image_tag dessert.photo, class: 'card-img-top rogner', height: '200px' %>
                <div class="card-body min-height-128px py-3">
                  <h5 class="font-size-12px-lg-16px text-grey "><%= dessert.name %></h5>
                  <p class="font-size-12px-lg-16px text-grey "><%= dessert.ingredient %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 <!--  Below useless code to use data-target -->
  <div class="container pb-5" data-controller='game'>
    <h2 class='mb-3 text-white'>Click on 'P' button</h2>
    <p class= 'text-success mb-3' data-target= 'game.score'>0</p>
    <p class= 'text-success mb-3' data-target= 'game.bank'>0</p>
    <button class='bg-success text-white px-3 py-2 rounded' data-action='click->game#pick'>P</button>
    <button class='bg-info text-white px-3 py-2 rounded' data-action='click->game#result'>Bank</button>
     <!-- évènement 'click' est par défaut sur un button, ceci est un exemple pour la syntaxe  -->
    <button class='bg-primary d-none text-white px-3 py-2 rounded mx-2' data-action='click->game#restart' data-target= 'game.restart'>Restart</button>
  </div>
</div>


<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
